*{
    margin: 0;
    padding: 0;
    color:brown;
    font
}

h1{
    background-color:rgb(214, 149, 81);
    color: white;
}

ul{
    margin-left: 80%;
}
li{
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(246, 203, 158);
    
}
head{
    background-color:rgba(186,111,31);
}

form{
   
    margin-top: 20px;
}
    
button1{
    background-color:rgb(214, 149, 81) ;
    color: white;
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;

}
button1:hover{
    background-color: rgb(201, 126, 47);
}

#butt{
    text-decoration: none;
}

input[type='txt']{
    border-radius: 5px;
}

                                   


